/* html{
    font-size: 62.5%;
}
.navbar__icon {
    font-size: 1.6rem;
  } */



a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.md-toast-error {
  background-color: rgb(241, 85, 85);
  color: white;
  font-size: 16px;
}

.md-toast-success {
  background-color: rgb(40, 167, 69);
  color: white;
  font-size: 16px;
}

.details__text-details {
  font-size: 1.2rem;
}

.details__title-details {
  font-size: 1.2rem;
  font-weight: 500;
}

.form-signup {
  margin-top: 10vh;
}

.form-signup__title{
  text-align: center;
  font-size: 1.5rem;
} 
